@import url('https://fonts.googleapis.com/css?family=Muli:wght@400;700&display=swap');

body {
    background: linear-gradient(to top, #dfe9f3 0%, white 100%);
    font-family:'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.form {
      border: 1px solid;
      border-radius: 15px;
      padding: 20px;
      margin: 0 auto;
}

h1,
label,
legend {
  font-family: 'Muli', sans-serif; 
}

h1 {
font-family: 'Noto Serif Display', serif;
font-size: 70px;
font-weight: bold;
  text-align: center;
  margin:0;
  color:red;
}



.btn {
    width: 120px;
    height: 50px;
    text-transform: uppercase;
    font-size: 8px;
    border-radius: 20px;
    border: 2px solid;
    color:white;
    font-weight: bold;
    background-color:red;
    box-shadow:red 40px;
    margin: 0 auto;
  }

  .btn:hover{
   background-color: cornsilk;
   color: red;
  }


footer {
    font-size: small;
    color:skyblue;
    font-weight: bold;
}

